node_modules/
.next/
out/
dist/
cache/
coverage/
artifacts/
typechain-types/
frontend/.next/
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/.hardhat-appdata/
contracts/.hardhat-localappdata/
frontend/tsconfig.tsbuildinfo
*.tsbuildinfo
*.log
.env
.env.local
